<h2 class="heading">My Profile</h2>
<div id="user-info">
<ul class="contact">
   {{#if img}}<img src = {{img}}>{{/if}}
   <li> Name: {{name}}
   <li> ID: {{id}}
   <li> E-mail: {{email}}
   <li> Phone: {{phone}}
   <li> Language: {{lang}}
</ul>
<p>
   <form method="post">
		<input type="submit" class="button submit" name="disconnect" value="Disconnect">
   </form>
</p>

</div>
<h2 class="heading">My Groups</h2>
<div id="group-info">
	{{#each groups}}
		<div>
			<p>
				<ul class="contact">
					<h3 class="heading">{{name}}</h3>
					{{#if img}}<img src = {{img}}>{{/if}}
					<li> ID: {{id}}
					<li> Type: {{privacy}}
					<li> Number of Members: {{num_members}}
				</ul>
			</p>
			<!-- To get recent messages -->
			<p>
				<form method="post">
					<input type="hidden" name="group_id" value="{{id}}">
					<input type="submit" class="button submit" name="get_msgs" value="Get Recent Messages">
				</form>
			</p>
			<div>
				{{#each messages}}
					<p>{{username}}: {{text}}</p>
				{{/each}}
			</div>
			<!-- To post a new message -->
			<p>
				<form method="post">
					<input type="hidden" name="group_id" value="{{id}}">
					<input type="text" class="text" name="message" required="true" placeholder="Your message here">
					<input type="submit" class="button submit" name="send_msg" value="Send Message">
				</form>
			</p>
		</div>
	{{/each}}
</div>
